


.jumbotron {
 padding: 30px;
 margin-bottom: 30px;
 font-size: 21px;
 font-weight: 200;
 line-height: 2.1428571435;
 color: inherit;
 background-color: powderblue;
}

 #todo {
   background-color: lightseagreen;
   min-height: 675px;
   
 }

 #done {
   background-color: lightpink;
   min-height: 675px;
 }

 .panel {
   background: none;
 }

#taskdifficulty {
  font-family: initial;
  }

  label, select {
    display: inline-block !important;
  }
  select {
    width: 190px;
  }
  option {
    font-size: 45px;
  }

#donebutton {
  display: inline-block;
}